* {
  margin: 0;
  padding: 0;
}

.link {
  color: darkolivegreen;
  text-decoration: none;
  position: relative;
}

/* .link:hover{
  text-decoration: underline;
} */

.link:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background: #333;
  transition: all 0.45s;
}

.link:hover:after{
  width: 100%;
  left: 0;
  color: pink;
}

.hero-bg {
  background-image: url('https://images.unsplash.com/photo-1523906630133-f6934a1ab2b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1227&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.card-img{
  height: 20rem;
}

.one-item-img {
  height: 40rem;
  width: 40rem;
}

.checkout-img {
  height: 10rem;
  width: 10rem;
}

.ms-8 {
  margin-left: 10%;
}

.shopping-cart{
  height: 2rem;
  width: 2rem;
}

.checkout-qty {
  width: 3rem;
  text-align: center;
}

.reset {
  margin: 0;
}